<footer>
    <div class="footer-content">
        <img src="/img/otter.png" alt="CST Logo" width="75" height="75">
        <div>
            CST336 - Internet Programming. 2025&copy; Rosenfeld <br>
            <strong>Disclaimer:</strong> This website was made as an assignment for academic purposes only, it is not intended to be taken seriously.
        </div>
    </div>
</footer>

</body>
</html>