<%- include('partials/head') %>

<div class="content-wrapper">
    <div class="content">

        <div class="dashboard">
            <form action="/author/new">
                <button class="btn btn-info">Add Authors</button>
            </form><br>


            <form action="/quote/new">
                <button class="btn btn-info">Add Quotes</button>
            </form><br>


            <form action="/authors">
                <button class="btn btn-warning">List Authors</button>
            </form><br>

            <form action="/quotes">
                <button class="btn btn-warning">List Quotes</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

