header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(6, 24, 85, 0.5);
    width: 100%;
    height: 125px;
    margin-bottom: 50px;
    top: 0;
    left: 0;
}

a {
    color: gold
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list {
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
} 

form {
    text-align: left;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: darkslategray;
    color: white;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 120px;
}

footer img {
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}